ol{
	list-style: none;
	counter-reset: counter;
}

li{
	counter-increment: counter;
	margin-bottom: 8px;
}

li:before{
	margin-right: 10px;
	content: counter(counter);
	background: green;
	border-radius: 100%;
	color: whitesmoke;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}